.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-image: url('https://external-preview.redd.it/Z-mdOCdgw53wluJKQdklW2-WwJEcd3zXoER3YNl-euI.jpg?auto=webp&s=9da2a0406734c547c7bc489c5fa20b091c7ee86c');
  background-attachment: fixed;
  background-position: center;
  background-size: 25vw 25vw;
  min-height: 100vh;
  background-repeat: repeat;
  overflow: hidden;
}

.header {
  color: black;
  background-color: white;
  opacity: 95%;
  width: 50%;
  margin: 0 auto;
}

.score {
  color: black;
  padding-bottom: 1%;
  background-color: white;
  opacity: 95%;
  width: 50%;
  margin: 0 auto;
}

.card {
  width: 80%;
  margin: 0 auto;
  padding: 8px;
  border-radius: 16px;
  bottom: 15px;
  opacity: 90%;
}

.card-body {
  background-color: rgb(0, 0, 0);
}

.card-title {
  background-color: rgb(243, 237, 238);
  padding: 4px;
  border-radius: 16px;
  border: 3px solid black;
  font-size: 24px;
}

.card-text {
  padding: 40px;
}

.question {
  color: white;
}

.answer {
  border: 1px solid white;
  margin-top: 1%;
  padding: 10px;
  border-radius: 16px;
  background-color: blanchedalmond;
}

.answer:hover {
  border: 2px solid black;
  cursor: pointer;
}

ul {
  list-style: none;
}
