.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.card {
  width: 80%;
  margin: 0 auto;
  padding: 16px;
  border-radius: 16px;
  bottom: 15px;
}

.card-body {
  border: 3px solid darkgray;
  background-color: burlywood;
}

.card-title {
  background-color: blanchedalmond;
  padding: 16px;
  border-radius: 16px;
  border: 3px solid black;
  font-size: 24px;
}

.answers {
  border: 1px solid white;
  margin-top: 1%;
  padding: 16px;
  border-radius: 16px;
  background-color: blanchedalmond;
}

ul {
  list-style: none;
}
